body{
    background-color: black;
    font-family: Arial;
}

.container {
    height: 100vh;
    width: 100%;
    max-width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/marvelimg.jpeg");
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;

}

.background-pic{
    width: 1880px;
    aspect-ratio: auto 1324 / 744;
    height: 900px;   
}
.search-form{
    margin-top: 35%;
}

* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    color:white;
  }

  
  /* Style the submit button */
  
  
  
  
 